@model HealthcareSystem.ViewModel.Patients.AddPatientVM

<div class="container mt-5">
	<div class="row">
		<div class="col-md-12">
			<h2>Choose doctor for patient @Model.FirstName @Model.LastName with diagnosis: @Model.Illnes</h2>
			<table class="table table-bordered mt-3">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Age</th>
						<th>Gender</th>
						<th>Department</th>
						<th>Hospital</th>
						<th></th>
					</tr>
				</thead>
				@foreach (var item in Model.Doctors)
				{
					<tbody>
						<tr>
							<td>@item.FirstName</td>
							<td>@item.LastName</td>
							<td>@item.Age</td>
							<td>@item.Gender</td>
							<td>@item.Department</td>
							<td>@item.Hospital.Name</td>
							<td>
								<a class="btn btn-primary btn-sm" href="/Patients/Add3?doctorid=@item.Id">Choose</a>
							</td>
						</tr>
					</tbody>
				}
			</table>
		</div>
	</div>
</div>